# BloomTech Data Science

In [1]:
# Importing the necessary libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error

In [4]:
DATA_PATH = 'https://raw.githubusercontent.com/bloominstituteoftechnology/DS-Unit-2-Linear-Models/master/data/condos/tribeca.csv'

# I. Wrangle Data

In [5]:

df = pd.read_csv(DATA_PATH)

In [6]:
df

,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,ADDRESS,APARTMENT_NUMBER,ZIP_CODE,GROSS_SQUARE_FEET,YEAR_BUILT,SALE_PRICE,SALE_DATE
0,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"181 HUDSON STREET, 6D",6D,10013.0,1840.0,1909.0,2800000,2019-01-03
1,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"10 LITTLE WEST STREET, 19A",19A,10004.0,1759.0,0.0,2650000,2019-01-07
2,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"30 LITTLE WEST STREET, 7G",7G,10004.0,1190.0,2005.0,1005000,2019-01-09
3,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"2 RIVER TERRACE, 4C",4C,0.0,1088.0,2006.0,1678000,2019-01-10
4,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"380 RECTOR PLACE, 10A",10A,10280.0,873.0,0.0,1380000,2019-01-11
...,...,...,...,...,...,...,...,...,...
85,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"443 GREENWICH STREET, 1F",1F,10013.0,2429.0,1905.0,5761259,2019-04-24
86,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"70 LITTLE WEST STREET, 11K",11K,10004.0,1601.0,2006.0,2600000,2019-04-29
87,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"2 SOUTH END AVENUE, 5G",5G,10280.0,634.0,1990.0,605000,2019-04-29
88,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"2 SOUTH END AVENUE, 8B",8B,10280.0,939.0,1990.0,960000,2019-04-30
89,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,"311 GREENWICH ST, 8B",8B,10013.0,695.0,0.0,975000,2019-04-30

In [ ]:
# Wrangle function to Clean up data

def wrangle(filepath):
   # Load the csv file, convert the date column to a datetime object and set it as index.
  df = pd.read_csv(filepath,
                   parse_dates=['SALE_DATE'],
                   index_col=['SALE_DATE'],
                   na_values=[0.0])

  #drop constant columns


  #Drop high-cardinality categorical columns (HCCC's)


  return df

df = wrangle(DATA_PATH + 'condos/tribeca.csv')

# II. Split Data

Split our dataset into a **feature matrix `X`** and a **target vector `y`**.

In [ ]:
# Split into feature matrix X and target vector y

# III. Establish Baseline

If you had a *naïve model* that could only predict one value, how well would you model perform?

In [ ]:
print('Mean sale price:', )

In [ ]:
print('BASELINE MAE',)

In [ ]:
# # Scatter plot to visualize the baseline
# plt.figure(figsize=(15, 10))
# plt.scatter(X, y)
# plt.plot(X, y_pred, label='Baseline', color='grey')
# plt.xlabel('Gross Sq Feet')
# plt.ylabel('Sale Price')
# plt.legend();

# IV. Build Model

In [ ]:
# step 1: import predictor class


#step 2:Instantiate my predictor


# Step 3: fit my model


# step 4: make predictions

# V. Check Metrics

In [ ]:
#MAE of LinearRegression model
print('Linear Regression MAE', )

# VI. Communicate Results

Plot model

In [ ]:
# Plotting baseline and our model to interpret the differences between the two methods.
plt.figure(figsize=(15, 10))
plt.scatter(X, y)
plt.plot(X, y_pred, label='Baseline', color='grey')
plt.plot(X, y_pred_lr, label='Linear Regression', color='orange')
plt.xlabel('Gross Sq Feet')
plt.ylabel('Sale Price')
plt.legend();

What are our beta coefficients?

In [ ]:
# final equation

In [ ]:
print(f'SALE_PRICE={} + {}*GROSS_SQUARE_FEET')